# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

*.key
.Rproj.user

Homeworks/HW1/Homework1.docx

Materials/~$大数据菁英班成绩单（第一学期）.xlsx

Materials/大数据菁英班签到表（4.9）.xlsx

Materials/大数据菁英班签到表（4.9）.xlsx

Homeworks/HW2/Homework 2.docx

Videos/Class3.mp4

Videos/Class2_Data_Process_in_R.mp4
