# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

*.key
.Rproj.user

Homeworks/HW1/Homework1.docx

Materials/~$大数据菁英班成绩单（第一学期）.xlsx

Materials/大数据菁英班签到表（4.9）.xlsx

Materials/大数据菁英班签到表（4.9）.xlsx

Homeworks/HW2/Homework 2.docx

Videos/Class3.mp4

Videos/Class2_Data_Process_in_R.mp4

Materials/Exam1-score.numbers

Homeworks/HW2/~$mework 2.docx

Homeworks/HW2/~$mework 2.docx

Materials/Exam1-score.csv

Materials/Exam1-score.xls

Materials/Exam1-score.xls

Materials/Exam1-score.xls

Materials/Exam1-score.xls

Materials/第一次报告名单.xlsx

Materials/大数据菁英班成绩单（第一学期）.xlsx

Materials/第一次报告名单.xlsx

Materials/Exam1-score.xls

Classes/class5/Code_class5/boxmojodata1.csv

Classes/class5/Code_class5/imdbdata1.csv

Classes/class5/Code_class5/boxmojodata.csv

Classes/class5/Code_class5/imdbdata.csv

Videos/class4.mp4

Classes/class5/展示PPT/Omnipotent.pptx

Classes/class5/展示PPT/r-men.pptx

Classes/class5/展示PPT/R语千寻 最终版.pptx

Classes/class5/展示PPT/关于电影类型的那些事.pptx

Classes/class5/展示PPT/屁屁踢 德玛西亚小组 终.pptx

Classes/class5/展示PPT/屁屁踢 德玛西亚小组.pptx

Classes/class5/展示PPT/想不出队名队展示.pptx

Classes/class5/展示PPT/数据分析都队.pptx

Classes/class5/展示PPT/电影投资指南.pptx

Classes/class5/展示PPT/票房修炼册之如何打造一部高票房的电影--熊博士.ppt

Classes/class5/展示PPT/萌星球.pptx

Classes/class5/展示PPT/领跑者.pptx
